/* styles/Pagination.module.css */

.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    color: #dc1616;
}

.pagination li {
    margin: 0 5px;
    cursor: pointer;
}

.pagination li.active a {
    font-weight: bold;
    text-decoration: underline;
}
